doctype html
head
    meta(charset="utf-8")
    title #{blog.title}
    link(rel="stylesheet" href="/semantic-ui/semantic.css")
    link(rel="stylesheet" href="/css/style.css")
    script(src="/JS/jquery.js")
    script(src="/semantic-ui/semantic.js")
body
    include components/nav
    include components/nav-setting
    include components/notification